  <style>
  body {
  background-image: url("./images/background-head-transp.png");
  background-repeat: no-repeat;
  background-size: 275px 700px;
  background-attachment: fixed;
}
  @media only screen and (max-width: 1300px) { 
  body { 
  background-image:url("./images/background-head-transp.png");
  background-repeat: no-repeat;
  background-size: 225px 572px;
  background-attachment: fixed;
  } }
  @media only screen and (max-width: 1000px) { 
  body { 
  background-image:url("./images/background-head-transp.png");
  background-repeat: no-repeat;
  background-size: 60px 152px;
  background-attachment: fixed;
  background-position: 0% 4%;
  } }
    </style>
 
<!-- Background Image comes from NPS: https://www.nps.gov/zion/learn/nature/rock-layers.htm -->
